* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.navbar{
    width: 100%;
    background-color: #1A0B2E;
    padding: 20px 0;
}

.nav-container{
    width: 90%;
    max-width: 1240px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
}

.logo span{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

#menu-toggle{
  display: none;
}

.menu{
    display: flex;
  align-items: center;
  gap: 32px;
}

/* Button */
.nav-btn a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 28px;
  border-radius: 30px;
  background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* Arrow Icon */
.nav-btn a img {
  width: 24px;
  transition: 0.1s;
}

.nav-btn a:hover img {
  transform: translateX(4px);
  
}



.hamburger {
  display: none;
}

.hamburger img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* banner */
.banner {
  width: 100%;
  height: 760px;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  padding: 5px 0;
}

.banner-inner {
  width: 100%;
  height: 100%;
  background: rgba(26, 11, 46, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

/* Circle */
.circle-wrap {
  position: relative;
  top: px;
  margin-bottom: 30px;
}

.circle-img {
  width: 350px;
  height: 350px;
}

.mic-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  transform: translate(-50%, -50%);
}

/* NEW badge */
.new-badge {
  position: absolute;
  top: 20px;
  right: 33px;
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 20px;
  background: #00FF88;
  color: #000;
  box-shadow:0px 0px 10px#00FF88;
}

/* Text */
.banner-tag {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.mobile-break{
  display: none;
}
.banner-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner-desc {
  max-width: 600px;
  font-size: 16px;
  color: #d0d0d0;
  margin-bottom: 30px;
}

/* Buttons */
.banner-buttons {
  display: flex;
  gap: 20px;
}

.banner-buttons a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 32px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.btn-spotify {
  background:linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%) 
}
.spoty-text{
  color: white;
}

.btn-subscribe {
  border: 1px solid #00FF88;
  color: #00FF88;
}

.banner-buttons img {
  width: 18px;
}
/* banner end  */

/* about */
.about-section {
    padding: 80px 20px;
    background-color: #1A0B2E;
    color: #ffffff;
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.about-content {
    margin-bottom: 60px;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-text {
    font-size: 16px;
    line-height: 1.6;
    color: #b3b3b3;
    max-width: 850px;
    margin: 0 auto 15px;
}

.stats-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.stat-card {
    flex: 1;
}

.stat-number {
    font-size: 36px;
    font-weight: 800;
    color: #00FF88;
    margin-bottom: 8px;
}

.stat-label {
    font-size: 12px;
    font-weight: 600;
    color: #999999;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* about end  */

/* why choose section  */
.section-title{
  text-align: center;
}
.why-choose {
    background-color: #230E3D;
    padding: 80px 0;
    color: white;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
    margin-top: 40px;
}

.feature-card {
    background: #26064e;
    border: 1px solid #2a1b3d;
    padding: 30px;
    border-radius: 20px;
}

.card-tall {
    grid-row: span 2;
}

.card-wide {
    grid-column: span 2;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.card-big {
    grid-column: span 2;
}

.card-small {
    grid-column: span 1;
}

.feature-icon {
    width: 40px;
    margin-bottom: 20px;
}

.card-wide .feature-icon {
    margin-bottom: 0;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #b3b3b3;
    line-height: 1.6;
}
/* why choose section end  */



@media (max-width: 576px) {
  .hamburger {
    display: block;
  }
  .menu {
    z-index: 9999;
    position: relative;
    top: 80px;
    left: 0;
    width: 100%;
    background: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    display: none;
  }
   #menu-toggle:checked ~ .menu {
    display: flex;
  }

  .nav-btn {
    display: none;
  }
  .new-badge {
  position: absolute;
  top: 10px;
  right: -5px;
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 20px;
  background: #00FF88;
  color: #000;
  box-shadow:0px 0px 10px#00FF88;
}


  /* banner  */
.banner {
    height: auto;
    padding: 5px 0;
    background-image: url("../assets/mobile-bg-image.png");
  }

  .circle-img {
    width: 200px;
    height: 200px;
  }

  .mic-img {
    width: 60px;
  }

  .banner-title {
    font-size: 32px;
  }

  .banner-desc {
    font-size: 14px;
    padding: 0 20px;
  }

  .mobile-break{
    display: block;
  }
  /* banner end  */

  /* about  */
.section-title {
        font-size: 26px;
    }

    .about-text {
        font-size: 16px;
        text-align: center;
        padding: 0 10px;
    }
    .stats-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }

    .stat-card {
        flex: 0 0 50%;
        margin-top: 40px;
    }

    .stat-number {
        font-size: 28px;
    }

    .stat-label {
        font-size: 11px;
    }
  /* about end  */

  /* why choose  */
  .features-grid {
        grid-template-columns: 1fr;
    }
    
    .card-tall, .card-wide, .card-big, .card-small {
        grid-column: span 1;
        grid-row: span 1;
        flex-direction: column; 
    }
  /* why choose */
  
}